@page
@model ProjectBookShop.Areas.Admin.Pages.Publisherr.CreateModel
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card" >
            <div class="card-header bg-light">
                ایجاد ناشر
            </div>
            <form method="post">
            <div class="row card-body mb-3">
                <div col-md-4>
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-3">
                                <label asp-for="Publisher.PublisherName" class="control-label"></label>
                        </div>
                        <div class="col-md-9">
                                <input type="text" asp-for="Publisher.PublisherName" class="form-control" />
                                <span asp-validation-for="Publisher.PublisherName" class="text-danger"></span>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                        <button type="submit" class="btn btn-info ">ایجاد ناشر</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}